@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="info text-center">
    <div><h2 style="color:mediumpurple;">@ViewBag.Title</h2></div>
    
</div>


<div class="text-center">

    <h4 style="color:green;">@ViewBag.Message</h4>
    <h5>دیگر نگران بی ماشینی نباشید.</h5>
    <h5 style="color:black;">شماره تماس: 09127412421</h5>
    <h5 style="color:black;">آدرس: انصاریه - بوستان ششم - پلاک 497</h5>
    <hr/>

    <div class="center-block" id="googleMap" style="width:600px;height:480px;"></div>
</div>


<!-----------JavaScript-->

<script>
    function myMap() {
        var ansarie = { lat: 36.670163, lng: 48.508984 };
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 16,
            center: ansarie
        });
        var marker = new google.maps.Marker({
            position: ansarie,
            map: map,
            title: 'انصاریه',
            
        });
        var infowindow = new google.maps.InfoWindow({ content: "خونه ما" });
        infowindow.open(map, marker);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNSYdNVx56jQIX2bJ04104PSoKoU_OaOA&callback=myMap"></script>
