@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="info text-center">
    <div><h2 style="color:mediumpurple;">@ViewBag.Title</h2></div>
    
</div>
<div class="rtl">
    <div class="title" id="about" style="padding-top: 60px">
        <h1>درباره سیستم</h1>
    </div>
    <div class="content">
        <p>از طریق این سامانه اینترنتی ، مسافران و رانندگانی که در یک مسیر هستند می‌توانند سفر خود را به اشتراک گذاشته و با هم همسفر شوند. مالکین یا رانندگان می‌توانند در مسیرهای به نسبت طولانی با هزینه سوخت و استهلاک زیاد، افراد تایید شده را پیدا کرده و با آنها هم‌سفر شوند تا هزینه‌ سفرشان کاهش یابد.</p>
        <p>در دیگر کشورهای جهان نیز نمونه های موفقی از سیستم اشتراک‌گذاری سفر(Ride sharing) وجود دارد؛ به‌طور مثال ویزرایدر (Waze Rider) یکی از سرویس‌های گوگل است که در بسیاری از کشورها طرفداران بسیاری دارد. این روش در بسیاری از کشورهای اروپایی سیستمی برای صرفه جویی در سوخت و هزینه‌ها محسوب می‌شود ولی در شهرهای بزرگی مثل تهران که خیابان‌هایی مملو از خودروهای تک سرنشین دارد می‌تواند راهکاری موثر برای بهبود آلودگی هوا نیز باشد.</p>
        <br /><br /><br />
        <h2>سیستم چگونه کار می کند؟</h2>
        <p>
            کاربران میبایست پس از ثبت نام و ورود به سیستم نقش کاربری خود را مشخص کنند. به عبارت دیگر هر کاربر می تواند به عنوان مسافر یا راننده Login  کند.        </p>
        <p>مسافرین:</p>
        <p>
            کاربر پس از ورود به سیستم مسیر(مبدا و مقصد) و تاریخ حرکت خود را مشخص می کند. سیستم در تاریخ مشخص جستوجو کرده و تمام رانندگانی که در آن تاریخ از مبدا و مقصد مشخص شده توسط مسافر عبور میکنند را نمایش میدهد.        </p>
        <p>
            مسافر میتواند علاوه بر لیست رانندگان، مشخصات خودرو و رانندگان  و زمان حرکت را نیز مشاهده و خودرو مورد نظر خود را انتخاب نمایند.         </p>
        <p>رانندگان:</p>
        <p>
            کاربر پس از ورود به سیستم فیلدهایی از قبیل مبدا و مقصد، تاریخ و زمان حرکت، تعداد صندلی های خالی و ... را مشخص میکند و پیشنهاد سفر خود را به اشتراک می گذارد.        </p>
        <p>
            مبلغ سفر برای هر مسافر برابر با نصف تعرفه مصوب توسط سازمان تاکسیرانی میباشد. توقف راننده تنها در طول مسیر مشخص شده توسط وی روی نقشه امکان پذیر است و راننده موظف به رساندن مسافر به مقصد دقیق وی نمی باشد. همچنین راننده می تواند در طول سفر فقط برای سوار یا پیاده کردن مسافر توقف نماید.        </p>
        <br /><br /><br />
        <h2>سفری ایمن</h2>
<div>
    <h1 style="text-align:center;color:black">اشتراک گذاری سفری امن</h1>
    <br /><br /><br />
    <div class="row placeholders center-block">
        <div class="col-xs-6 col-sm-4 placeholder">
            <p style="font-size:20px">پروفایل ها</p>
            <br />
            <img src="~/Content/Group 12.png" width="150" height="150" class="img-responsive" alt="Barber">
            <br /><br /><br />
            
            اطلاعات رانندگان و اتومبیل آنها توسط دانشگاه یا اداره تایید شده و برای مسافرین قابل نمایش میباشد
        </div>
        <div class="col-xs-6 col-sm-4 placeholder">
            <p style="font-size:20px">نظرات</p>
            <br />
            <img src="~/Content/Group 23.png" width="150" height="150" class="img-responsive" alt="Barber">
            <br /><br /><br />
           به تمامی رانندگان توسط مسافرین امتیاز تعلق می گیرد
        </div>
        <div class="col-xs-6 col-sm-4 placeholder">
            <p style="font-size:20px">هویت‌های تایید شده</p>
            <br />
            <img src="~/Content/profilepic.png" width="150" height="150" class="img-responsive" alt="Barber">
            <br /><br /><br />
           تنها دانشجویان و کارمندان رسمی ادارات امکان ثبت نام و استفاده از این سیستم را دارند
        </div>
    </div>
</div>



    </div>
 
    <div class="title" id="laws" style="padding-top: 60px">
        <h1>قوانین ومقررات</h1>
    </div>
    <div class="content">
        <h2>شرایط و قوانین:</h2>
        <p>استفاده شما از خدمات وب سایت به منزله قبول کلیه شرایط مندرج در این صفحه می باشد.</p>
        <ol>
            <li>
                شما به ما اطمینان می دهید که از این وب سایت برای رسیدن به مقاصدی که بر خلاف شرایط استفاده از این سایت می باشد استفاده نخواهید کرد.
            </li>
            <li>
                استفاده از مطالب سایت در سایت های دیگر فقط با ذکر منبع  مجاز می باشد.
            </li>
            <li>فعالیت این سایت بر اساس قوانین جاری کشور، به ویژه قانون تجارت الکترونیک است و مسئولیت نادیده گرفتن این قوانین توسط کاربران، به عهده خود کاربران است.</li>
           
            <li>
                .پس از ثبت درخواست خود و پرداخت هزینه،چنانچه ظرف مدت یک ساعت با شما تماس گرفته نشد از طریق شماره 02433441286 مربوط به واحد پشتیبانی  با ما تماس بگیرید.
            </li>
            <li> به غیر از قیمت های درج شده هیچ هزینه ای متوجه خریدار نمی باشد.مگر اینکه خدمات دیگری از طرف خریدار درخواست شود.</li>
            <li>
                .در صورت وجود هرگونه مشکل یا انتقاد یا شکایتی از طریق بخش انتقادات و پیشنهادات مشکل خود را با ما مطرح کنید.
            </li>
        </ol>
    </div>
  
    <div class="title" id="terms" style="padding-top: 60px">
        <h1>شرایط و حریم خصوصی</h1>
    </div>
    <div class="content">
        <p>
            برای باز کردن حساب کاربری، عضویت در سامانه و استفاده از آن ،افراد باید اطلاعات لازم مانند نام و نام خانوادگی، رمز عبور و آدرس ایمیل، شماره تلفن خود را وارد و تایید کنند. این اطلاعات ثبت شده به هیچ عنوان در اختیار اشخاص یا موسسات خارج از شرکت قرار نخواهد گرفت و محرمانه تلقی می شود.
        </p>
        <ul>
            <li>
            </li>
            <li> از شماره تلفن و ایمیل وارد شده هنگام ثبت‌ نام برای ارسال اطلاعات، هزینه و اخبار در مورد سفر با کاربران استفاده می‌شود.</li>
            <li>تنها اشخاص حقیقی حق عضویت در سامانه را دارند.</li>
            <li>صرف عضویت در این سامانه دلیل بر قبول و پذیرش مفاد موافقتنامه بوده و خلاف آن به به هیچ وجه پذیرفته نیست.</li>
            <li>به دلیل آنکه در برخی از موارد تایید صحت هویت کاربر از طریق نام و نام خانوادگی و شماره تلفن همراه ارائه شده در سامانه امکان ‌پذیر نمیباشد، مسئولیت هرگونه مغایرت مشخصات فوق با هویت واقعی عضو بر عهده خود کاربران بوده و شرکت هیچ ‌گونه مسئولیتی نسبت به مغایرت‌های احتمالی ندارد.</li>
            <li>کاربر باید رمز عبور و نام کاربری خود را حفظ نموده و چنانچه آن را فراموش کند، می‌تواند برای ثبت نام مجدد و بازنگاری رمز عبور جدید اقدام نماید.</li>
            <li>کاربر باید آدرس ایمیل، شماره همراه و شماره تلفن ثابت خود را به همراه سایر اطلاعات درخواستی به ‌طور صحیح اعلام نموده و مسئولیت ثبت اشتباه و یا خلاف واقع بر عهده شخص کاربر است.</li>
            <li>عضویت در سایت رایگان است و کاربر صرفا بر اساس هزینه تایین شده سفر خود، پرداخت خواهد کرد.</li>
</ul>
    </div>
    <div class="title" id="complaints" style="padding-top: 60px">
        <h1>انتقادات و پیشنهادات</h1>
    </div>
    <div class="content">
        <p>
            درصورت داشتن هرگونه انتقاد یا پیشنهاد،درخواست یا شکایتی نسبت به سایت و خدمات آن، می توانید از طریق تلفن تماس واحد پشتیبانی با ما در ارتباط باشید و یا اینکه حضوری به آدرس شرکت که در ذیل قید خواهد شد مراجعه فرمایید.
        </p>
        <p>
            آدرس :زنجان - انصاریه- بوستان ششم طبقه سوم کدپستی: 3519817978
        </p>
        <h2>تلفن تماس با واحد پشتیبانی:</h2>
        <p>02333437578 و تلگرام</p>
        <p>
            <a style="border-radius: 24px; color: #fff; background-color: #249BCE; padding: 10px 20px; display: inline-block;" href="https://t.me/znusoft">
                Ride sharing Help Telegram
            </a>
        </p>

    </div>
</div>

<div class="text-center">

    <h4 style="color:green;">@ViewBag.Message</h4>
    <hr/>

    <div class="center-block" id="googleMap" style="width:600px;height:480px;"></div>
</div>

<div class="title" id="contact" style="padding-top: 60px">
    <h1>تماس با ما</h1>
</div>
<div class="content">
    <h2>آدرس:</h2>
    <p>زنجان  – جاده تبریز – دانشگاه زنجان کدپستی: 3519817978</p>
    <p>شماره های تماس با مدیریت: 09121234567-09901234567</p>
    <p>تلفن تماس با واحد پشتیبانی:</p>
    <h2>تلفن تماس با واحد پشتیبانی:</h2>
    <p>02433441286 و تلگرام</p>
    <p>
        <a style="border-radius: 24px; color: #fff; background-color: #249BCE; padding: 10px 20px; display: inline-block;" href="https://t.me/znusoft">
            Ride sharing Help Telegram
        </a>
    </p>
</div>